div.about
  h2 About
  div.text-paragraphs
     p I want to create telebuddies because I think watching TV is better when shared with other people.
     p  If you're interested in collaborating on this project, please drop me an email at  
        strong telebuddies@gmail.com 
        | specifying what you can help with.
     p There's no money in this project. Only glory at the moment!
