div.faq
  h1 telebuddies FAQ
  div.questions
     h3  What is telebuddies?
      p   <strong>telebuddies</strong> is the airbnb for the tv. It’s connecting people with tv bundles to people who want to watch sports, movies and tv-series.
     h3  Who’s behind telebuddies?
      p <strong>telebuddies</strong> is my personal project. There’s no company involved in this and no funding.
     h3  Why is the website not ready yet?
          p Developing a fully fledged website requires time and resources. I want to incrementally build the service and shape it around the feedback I receive from my early adopters.
     h3  What are you going to do with my email?
          p I value privacy a lot and find very irritating when I receive spam. I will only use your email to keep you up to date with this project’s development. Nothing else!
     h3  Can I stop receiving your emails?
          p <strong>Yes!</strong> Just let me know that you no longer wish to receive updates and I’ll immediately remove your address from the list.
