div.email-form
  h4
   span Be the first to know when the website is ready!
  if duplicated
    h4.duplicated-address #{email} already exists
  form(action='add_contact' method='post')
    input(name='email' placeholder='Email...' type='email' id='email-input' autocomplete='off' required)
    button(class='email-submit') Sign up
