div.email-form
  h4 Want to know when telebuddies is ready?
  form(action='add_contact' method='post' class='mdl-textfield mdl-js-textfield')
    input(type='email' name='email' placeholder='Enter your email...' required class='mdl-textfield__input')
