doctype html
html
  head
    meta(charset='utf-8')

    title telebuddies
    meta(name='description', content='telebuddies')
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-pink.min.css")
    script(defer src='https://code.getmdl.io/1.3.0/material.min.js')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')


  body
   header
    include nav.pug
   section
    div.partial-container
      if about
        include about.pug
      else if faq
        include faq.pug
      else if success
        include success.pug
      else
        div.product-description telebuddies is the airbnb of the tv
          include form.pug
