doctype html
html
  head
    meta(charset='utf-8')

    title telebuddies
    meta(name='description', content='telebuddies')

    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')


  body
    include nav.pug
    section
      if about
        include about.pug
      else if faq
        include faq.pug
      else if success
        include success.pug
      else
        article.product-description telebuddies is the airbnb of the tv
        include footer.pug
