div.product-description
  h2 telebuddies is the airbnb of the TV
        div.text-paragraphs
          p telebuddies aims at connecting people who want to watch TV-shows or sport events but don't have a TV-bundle with people who have one and are willing to share their TV and sofa.

