h2.success Thank you for subscribing!
  h4.success  what happens next?
  div.text-paragraphs
    p Once the website development has started I will give regular updates via email, so that you can check where we are.
      br
    p I won't send you more than an email a month and I would love to receive any kind of feedback you wish to give me. 
