@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

/* verdino = #C8E532 testo = #253D16*/
/* unhcr blue = #0072BC testo = bianco */
/* sip gradient = linear-gradient(to bottom, #6300c8 0%, #36d3fe 100%) #9000ff; testo = #DECFF5 */
/* giallo awwwward = #f2b632, testo = #677077 testo blu-scuro = #252839 grigio-chiaro = #b5b5b7 */
/* giallo-backgorund = #FCD200, giallino = #FDEA90, arancio = #FD6C00, rose = #FF0086 */

html body {
  margin: 0;
  color: #253d16;
  /* background: #F6F7EB; */
  background: white;
}
/* PARTIAL CONTAINER */
.partial-container {
  height: 100%;
  font-family: 'Averia Sans Libre', cursive;
  background: inherit;
}
.product-description {
  padding-top: 30px;
  text-align: center;
  line-height: 2px;
  font-size: large;
}
/* NAVBAR */
.navbar-logo {
  background: linear-gradient(to right, rgb(238, 9, 121), rgb(255, 106, 0));  color: white;
  width: 90%;
  z-index: 0;
  font-family: 'Averia Sans Libre', cursive;
  height: 85px;
  box-shadow: 0px 1px 8px #253D16;
  /* border-bottom: 1px solid #ffffff; */
  margin: auto;
  overflow: hidden;
  text-align: center;
}
.navbar-logo h1 {
  position: relative;
  float: left;
  margin-left: 6%;
  text-decoration: none;
  vertical-align: middle;
}
.navbar-logo h1 a {
  font-size: 30px;
  text-decoration: inherit;
  color: inherit;
}
/* RIGHT NAVIGATION */
.right-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-right: 6%;
  float: right;
}
.right-navigation li {
  font-size: 18px;
  float: left;
}
.right-navigation li a {
  display: block;
  text-align: center;
  width: 60px;
  padding: 14px 16px;
  text-decoration: none;
  color: inherit;
}
/* EMAIL FORM */
.email-form {
  position: relative;
  text-align: center;
  margin-top: 1%;
  width: 100%;
}
#email-input:focus {
  width: 190px;
}
#email-input {
  width: 150px;
  transition: ease-in-out, width .35s ease-in-out;
  border-radius: 5%;
  padding-left: 5px;
  height: 30px;
  border: 1px solid #F63640;
  border-right: none;
}
.email-submit {
  vertical-align: bottom;
  margin-top: 10px;
  border-radius: 4%;
  text-transform: uppercase;
  background: linear-gradient(to right, rgb(238, 9, 121), rgb(255, 106, 0));
  border: none;
  color: white;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.duplicated-address {
  color: red;
}
::-webkit-input-placeholder {
  font-family: 'Averia Sans Libre', cursive;
  font-size: 14px;
}
:-moz-placeholder { /* older Firefox*/
  font-family: 'Averia Sans Libre', cursive;
  font-size:14px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Averia Sans Libre', cursive;
  font-size: 14px;
}
:-ms-input-placeholder {
  font-family: 'Averia Sans Libre', cursive;
  font-size: 14px;
}
textarea:hover {
  background
  color: inherit;
}
/* OTHER PAGES */
.faq, .about, .success {
  padding-top: 25px;
  text-align: center;
}
.faq h4 {
  font-size: 20px;
}
.faq h2 {
  font-size: 37px;
}
.about h2 {
  font-size: 37px;
}
.text-paragraphs {
  height: 100%;
  padding-top: 15px;

  width: 45%;
  margin: auto;
  text-align: justify;
}
.text-paragraphs p {
  padding: 7px 0 15px 0;
  font-size: 17px;
  line-height: 1.58;
}
strong {
  font-size: 18px;
  font-weight: bold;
}
/* VIDEO */
.video-explainer {
  width: 55%;
}
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  .text-paragraphs {
    width:90%;
  }
  .product-description {
    padding-top: 15px;
    line-height: 1.5px;
    font-size: large;
  }
  .email-form {
    margin-top: 30%;
  }
  .right-navigation {
    margin-right: 2%;
  }
  .navbar-logo {
    width: 100%;
  }
  .email-form h4 {
    padding: 0 10px 0 10px;
  }
  .product-description h2 {
    font-size: 24px;
  }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
   .video-explainer {
      width: 80%;
      margin-top: 20px;
    }

  .text-paragraphs {
    width:90%;
  }
  .product-description {
    padding-top: 10px;
  }
  .email-form {
    margin-top: 20%;
  }
  .right-navigation {
    margin-right: 2%;
  }
  .navbar-logo {
    width: 100%;
  }
  .email-form h4 {
    font-size: 14px;
    padding: 0 10px 0 10px;
  }
  .product-description h2 {
    font-size: 20px;
  }
  .faq, .about, .success {
        padding-top: 10px;
  }
}

/* ----------- iPhone 5 and 5S ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .video-explainer {
        width: 80%;
  }
  .text-paragraphs {
    margin-top: -10px;
    width: 95%;
  }
  .product-description {
    margin-top: -10px;
  }
  .faq, .about, .success {
        padding-top: 10px;
  }
}
/* ----------- iPhone 6 ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .video-explainer {
        width: 80%;
  }
  .product-description h2 {
    margin-top: 10px;
    padding: 0 8px 0 8px;
    font-size: 43px;
  }

  .faq, .about, .success {
        padding-top: 10px;
  }
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .video-explainer {
        width: 80%;
  }
  .email-form {
    margin-top: -5px;
  }
  .text-paragraphs {
    margin-top: -10px;
    width: 90%;
  }
  .product-description {
    margin-top: -10px;
  }
  .navbar-logo {
    width: 100%;
  }
  .faq, .about, .success {
        padding-top: 10px;
  }
}
/* ------------ apple watch -------------- */
@media
  (max-device-width: 319px)
  and (min-device-width: 272px) {

  .email-form {
    margin-top: 10px;
  }
  .email-form h4 span {
    display: none;
  }
  .email-form h4:after {
    content: "Notify me when it's ready";
  }
  .text-paragraphs p {
    display: none;
  }
  .navbar-logo h1 a {
    font-size: 20px;
  }
  .right-navigation li {
    font-size: 15px;
  }
  .product-description h2 {
    margin-top: 5px;
    font-size: 38px;
  }
  .right-navigation li a {
    width: 53px;
    padding: 21px 16px;
  }
}
/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .text-paragraphs strong {
      font-size: 30px;
    }
    .product-description h2 {
      font-size: 50px;
    }
    .text-paragraphs {
      padding-top: 30px;
      width: 60%;
    }
    .text-paragraphs p {
      font-size: 30px;
    }
    .email-form h4 {
        font-size: 28px;
    }
    .faq h4 {
        font-size: 35px;
    }
    .navbar-logo h1 a {
      font-size: 43px;
    }
    .navbar-logo h1 {
      margin-left: 4%;
    }
    .right-navigation li {
      font-size: 27px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .text-paragraphs strong {
      font-size: 38px;
    }
    .product-description h2 {
      font-size: 60px;
    }
    .text-paragraphs {
      padding-top: 30px;
      width: 60%;
    }
    .text-paragraphs p {
      font-size: 38px;
    }
    .email-form h4 {
        font-size: 33px;
    }
    .faq h2 {
        font-size: 42px;
    }
    .about h2 {
        font-size: 42px;
    }
    .navbar-logo h1 a {
      font-size: 43px;
    }
    .navbar-logo h1 {
      margin-left: 4%;
    }
    .right-navigation li {
      font-size: 27px;
    }
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .product-description h2 {
      font-size: 36px;
    }
    .text-paragraphs p {
      font-size: 25px;
    }
    .text-paragraphs {
      margin-top: 40px;
    }
    .email-form {
        margin-top: 20%;
    }
    .email-form h4 {
      font-size: 22px;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .text-paragraphs {
      margin-top: 30px;
      width: 60%;
    }
    .email-form {
        margin-top: 20%;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .email-form {
        margin-top: 15%;
    }

}

